.arbitrage-container {
  margin: 0;
  padding: 1em;

  
  display: grid;
}

.BlackHeaderForModal {
  background-color: #292b2c;
}

.CustomCardHeader {
  padding-top: 0;
  padding-bottom: 1;
  font-size: 15px;
  background-color: #292b2c;
}

.CustomCardBody {
  padding-top: 0;
  padding-bottom: 2;
  background-color: #292b2c;
}

.CustomCard {
  margin-top: 1%;
}

.smallHeightTable {
  height: 250px;
}

.hist-main-container {
  max-height: calc(100vh - 56px);
  display: grid;
  grid-template-columns: auto 25vw 25vw;
  grid-template-rows: 60vh fit-content(40vh);
  grid-gap: 0.5em;
  padding: 10px;
  justify-content: stretch;
  
}

.card-group {
  grid-column: 1/2;
  grid-row: 2/3;
}

.arbitrage-table {
  grid-column: 1/2;
  grid-row: 1/2;
}
.price-chart {
  grid-column: 2/4;
  grid-row: 1/2;
}

.time-series {
  grid-column: 2/3;
  grid-row: 2/3;
}
.etfchange-navchange {
  grid-column: 3/4;
  grid-row: 2/3;
}
