.LandingPage{
	background-color: white;
	min-height: 100%;
	height: 100%;
	font-family:  Geneva !important;
}

.container-fluid{
	padding-bottom: 0vh;
}

.navbar a{
    font-family:  Geneva !important;
}

.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    left:-5px;
    position:absolute;
    top:0;
}

.FeatureBox{
    padding-bottom: 2%;
}


.jumbotronBlack{
}

ul > li{
    color:grey;
}

ul{
    list-style-type:square;
}
